<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="alarm.dao.alarmDAO">
	<select id="selectAlarm" parameterType="string" resultType="hashmap">
		select * from alarm where customer_id=#{customerId} order by alarm_no desc
	</select>
	
	<update id="changeReadState" parameterType="string">
		update alarm set read_state = 'R' where alarm_no = #{alarmNo}
	</update>
</mapper>