<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="roi.dao.roiDAO">

	<resultMap type="kr.ac.kopo.roi.vo.RoiVO" id="roiMap">
		<result column="location" property="location"/>
		<result column="earning_rate" property="earningRate"/>
		<result column="research_date" property="researchDate"/>
		<result column="item" property="item"/>
	</resultMap>

	
	<select id="selectAll" parameterType="string" resultMap="roiMap">
		 select * from roi where substr(research_date,1,4) between #{date1} and #{date2}  and location =#{location} order by research_date
	</select>
</mapper>