<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="subscription.dao.subscriptionDAO">
		<select id="selectSubscriptionProperty" parameterType="string" resultType="hashmap">
			select a.*,b.location_name||' '||a.building_address as building_full_name from (select b.location_code,b.building_address,b.building_name,a.property_no,a.competition_period,a.competition_date,a.competition_price,a.total_dabs,a.point_head1,a.point_head2,a.point_head3,
			(a.total_dabs - (select sum(dabs_amount) from subscription_process group by property_no having property_no = #{propertyNo})) as subscription_remanet, ((select sum(dabs_amount) from subscription_process group by property_no having property_no = 10030000)/a.total_dabs)*100 as subscription_rate,b.image_name1,b.image_name2,b.image_name3 
			from property a inner join building b on a.building_no = b.building_no where a.subscription_state = 'P' and a.property_no = #{propertyNo}) a inner join location b on a.location_code = b.location_code
		</select>
		
		<select id="subscriptionProcess" statementType="CALLABLE" parameterType="string">
			{
				CALL p_subscription_process(
					#{propertyNo},
					#{customerId},
					#{competitionPrice},
					#{subscriptionCnt},
					#{subscriptionPrice}
				)
				
			}
		</select>
		
		<select id="selectSubscriptionAmount" parameterType="string" resultType="hashmap">
			select a.*,b.total_dabs from (select property_no,sum(DABS_AMOUNT) as sum_dabs_amount from subscription_process group by property_no) a inner join (select property_no,total_dabs from property) b on a.property_no = b.property_no where a.property_no=10030000
		</select>	
		
		<select id="selectSubscriptionList" resultType="hashmap">
			select b.building_name, a.* from property a inner join building b on a.building_no = b.building_no where a.subscription_state = 'P'
		</select>	
		
</mapper>          







